/* Landing Page */
.landing-page{
    height: 100vh;
    width: 100%;
    position: absolute;

}

.logo{
    width: 140px;
    font-size: 70px; 
    font-family: "Monoton", cursive; 
    color: white; 
    position: relative;
    top:0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter; 

}

.logo-heading {
    width: 40%; 
    text-align: center; 
    margin: auto;
    margin-top: 60px;  
    font-family: 'Source Sans Pro', sans-serif;
    color: white; 
    position: relative;
    font-size: 40px; 
    border-bottom: white 1px solid; 
}

.description-text{
    width: 70%;
    color: white; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
    margin: auto; 
    margin-top: 5px; 
    text-align: center; 
}

.landing-button {
    display: block;
    width: 160px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    margin-top: 90px;
    border: 1px solid white;
    text-decoration: none; 
    border-radius: 8px;
    line-height: 40px; 
    background: transparent;
    font-size: 22px; 
    font-family: 'Source Sans Pro', sans-serif;
    color: white; 
}

.landing-button:hover{
    background-color: white; 
    color: rgb(105,191,100)
}

/* Sign in Page */
.sign-in {
    background-color: rgb(105,191,100);
    height: 100vh;
    width: 100%;
    position: absolute;
}

.sign-in-div{
    background: rgba(245, 245, 245, 0.6);
    width: 430px; 
    height: 44vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 17%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sign-in-button{
    width: 21%;
    position: absolute;
    bottom: 60px;
    left: 36px;
    background: transparent;
    border: white solid 1px;
    color: white;
    font-size: 14px;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;

}

.sign-in-button:hover{
    background-color:  rgb(105,191,100); 
}

.email-label{
    position: absolute;
    top: 71px;
    left: 15px;
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.email-input{
    position: absolute;
    top: 20px;
    left: 0px;
    width: 141px;
}

.password-label{
    position: absolute;
    top: 130px;
    left: 15px;
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.password-input{
    position: absolute;
    top: 20px; 
    left: 0px; 
    width: 141px; 
    color: black; 
}

.sign-in-logo{
    color: white;
    margin: auto;
    font-family: "Monoton", cursive;
    font-weight: lighter;
    font-size: 107px;
    position: absolute;
    right: 30px;
    top: 80px;
}

.sign-in-heading{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    position: absolute;
    left: 34%;
    top: 4px;
    margin-top: 0px;
}

.create-account-button{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-decoration: none;
    font-size: 16px;
}

.create-account-button:hover{
    color: rgb(105,191,100); 
}

/* Sign Up Page */

input[type="date"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}

input[type="date"]::after{
    content: none; 
    width: 100%;
}

.logo-signup{
    width: 38px;
    font-size: 33px;
    font-family: "Monoton", cursive;
    color: white;
    position: relative;
    font-weight: lighter;
    top: 3px;
    left: 9px;
    margin-top: 0;
    margin-bottom: 0;
}

.sign-up-heading{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    position: absolute;
    left: 34%;
    top: 4px;
    margin-top: 0px;
}

.sign-up-button{
    width: 26%;
    height: 23px;
    position: absolute;
    bottom: 33px;
    right: 39%;
    line-height: 24px;
    background: transparent;
    border: white solid 1px;
    color: white;
    font-size: 14px;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
}

.sign-up-button:hover{
    background-color:  rgb(105,191,100); 
}

.full-name-input{
    width: 86%;
    padding: 5px;
    line-height: 1.4;
    position: absolute;
    top: 70px;
    left: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.signup-email-input{
    width: 38%;
    padding: 5px;
    line-height: 1.4;
    position: absolute;
    top: 105px;
    left: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;

}

.dob-input{
    width: 38%;
    padding: 5px;
    line-height: 1.4;
    position: absolute;
    top: 105px;
    right: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.signup-password-input{
    width: 38%;
    padding: 5px;
    line-height: 1.4;
    position: absolute;
    top: 175px;
    left: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.signup-password-confirm{
    width: 38%;
    padding: 5px;
    line-height: 1.4;
    position: absolute;
    top: 175px;
    right: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.ssn-input{
    width: 38%;
    padding: 5px;
    line-height: 1.4;
    position: absolute;
    top: 140px;
    left: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
}

.person-icon {
    position: absolute;
    color: grey;
    opacity: 0.7;
    top: 75px;
    left: 10px;
    font-size: 22px;
}

.email-icon{
    position: absolute;
    color: grey;
    opacity: 0.7;
    top: 112px;
    left: 6px;
    font-size: 16px;
}

.ssn-icon{
    position: absolute;
    color: grey;
    opacity: 0.7;
    top: 145px;
    left: 6px;
    font-size: 18px;
}

.password-icon{
    position: absolute;
    color: grey;
    opacity: 0.7;
    top: 181px;
    left: 5px;
    font-size: 18px;
}

.dob-icon{
    position: absolute;
    color: grey;
    opacity: 0.7;
    top: 111px;
    right: 207px;
    font-size: 18px;
}

/* User Account Page */
.user-account-div{
    background: rgba(245, 245, 245, 0.6);
    width: 850px;
    height: 75vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 8%;
    position: relative;
}

.account-info-div{
    background-color: rgb(166, 173, 166);
    height:65px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
}

.account-user-name {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(5, 68, 5);
    margin-top: 11px !important;
    margin-left: 11px;
    width: 400px;
    height: 39px;
    border-right: solid 1px white; 
}

.year-savings-div{
    display: flex; 
    flex-direction: column; 
}

.total-savings-div{
    display: flex; 
    flex-direction: column; 
    margin-right: 15px; 
}

.year-savings-number{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3px !important; 
    margin-bottom: 1px; 
    color: rgb(28, 116, 28); 
    text-align: center; 
}

.total-savings-number{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3px !important; 
    margin-bottom: 1px; 
    color: rgb(28, 116, 28);  
    text-align: center;
}

.year-savings-desc{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
    margin-top: 1px; 
    margin-bottom: 1px; 
    color: black; 
    text-align: center;
}

.total-savings-desc{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px; 
    margin-top: 1px; 
    margin-bottom: 1px; 
    color: black; 
    text-align: center;
}

.full-account-div{ 
    width: 100%; 
    height: 80%;
    display: flex; 
    flex-direction: column; 
}

.half-account-div{
    width: 53%;
    background: rgba(245, 245, 245, 0.6);
    margin-left: 10px;
    margin-top: 24px;
    height: 100%;
    border-radius: 10px;
    overflow: auto; 
}

.procedure-done{
    font-family: 'Source Sans Pro', sans-serif;
    color: black !important;
    font-size: 30px;  
}

.history-card{
    font-family: 'Source Sans Pro', sans-serif !important;
    width: 93% !important;
    margin-left: 13px !important;
    margin-top: 10px !important;
    height: 125px;
}

.doc-type{
    font-family: 'Source Sans Pro', sans-serif;
    color: black; 
}

.account-num {
    font-family: 'Source Sans Pro', sans-serif;
    color: black; 
    margin-bottom: 0 !important;
    width: 70%;
    margin-right: 0 !important;
}

.phone-num{
    font-family: 'Source Sans Pro', sans-serif;
    color: black; 
    margin-bottom: 0 !important;  
    width: 70%; 
    margin-right: 0 !important; 
}

.savings-div{
    position: absolute;
    width: 150px; 
    height: 50px;
    right: 0; 
    top: 0; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.money-symbol{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 23px;
}

.savings-num{
    font-family: 'Source Sans Pro', sans-serif;
    color: green;
    font-size: 35px; 
}

.break-point {
    border-bottom: grey solid 1px; 
    opacity: 0.6; 
}

.content-div{
    padding: 10px !important; 
}

.doctor-avatar{
    position: absolute !important;
    right: 17px;
    bottom: 33px;
}

.doctor-name{
    font-family: 'Source Sans Pro', sans-serif;
    color: black; 
    position: absolute;
    right: 10px; 
    bottom: 5px; 
}

.savings-history{
    color: grey;  
    font-family: 'Source Sans Pro', sans-serif !important; 
    text-align: center; 
}

.half-account-div2{
    width: 50%;
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-div{
    width: 90%;
    height: 10%;
    border-radius: 10px;
    margin-top: 24px;
    margin-left: 16px;
}

.maps-div{
    background: rgba(245, 245, 245, 0.6);
    width: 90%; 
    height: 85%; 
    border-radius: 10px; 
    margin-top: 24px;
    margin-left: 16px;
}

.procedure-search{
    width: 324px !important; 
}

.actual-search{
    width: 100%; 
}

div.description{
    width: 230px;
    font-size: 10px;
}

input.prompt{
    width: 350px; 
}

div.ui.icon.input {
    margin-left: 190px;
    margin-top: 40px;
}

div.results.transition.visible {
    margin-left: 180px; 
}

.home-address{
    position: absolute; 
    color: rgb(5, 68, 5);
    font-size: 10px; 
    left: 12px;  
    top: 65px; 
    margin-top: 0; 
    margin-bottom: 0; 
    
}
.work-address{
    position: absolute;
    color: rgb(5, 68, 5);
    font-size: 10px;
    left: 12px;
    top: 77px;
    margin-top: 0;
    margin-bottom: 0; 
}

.savings-card{
    position: relative;
    width: 95%;
    display: flex; 
    top: 10px; 
    flex-direction: row;
    margin: auto; 
}

.savings-card-line{
    width: 35%;
    
}
.savings-card-bar{
    width: 35%; 
    
}

.map-div {
    margin: auto; 
    border: solid 1px;
    margin-top: 5px; 
    border-radius: 10px; 
    padding: 5px; 
    background-color: rgb(7, 83, 7);  
    position: relative;
}

.marker-button{
    background: transparent !important;
    
}

.pin-marker{
    display: inline-block;
    font-size: 40px;
    transform: scale(.4, 1);
    color: rgb(0, 136, 247); 
}

.pin-marker:hover{
    color: red;  
    font-size: 45px; 
}